* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-color: rgb(10, 10, 10);
    /* background-image: url('rose-background.png'); */
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer {
    display: flex;
    justify-content: center;
}
.social_img {
    width: 75px;
}
.social_img:hover {
    opacity: 50%;
}
#bgimage {
    width: 95%;
    border-radius: 12px;
}
nav {
    width: 100%;
    height: 20%;
    z-index: 2;
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
    justify-content: center;
}
nav > a {
    color: white;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    /* -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black; */
}
#home_iframe {
    margin: 3%;
}
.music_images_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.music_images {
    width: 40%;
    height: 40%;
    padding: 5%;
}
.album_imgs {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.album_imgs:hover {
    opacity: 50%;
}
.album_text {
    color: white;
    text-align: center;
    font-family: 'Playfair Display', serif;
    margin-top: 10px;
    font-size: 30px;
    letter-spacing: 3px;
}
.about_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 3%;
}
#stage_photo {
    width: 45%;
    margin: 3%;
    border-radius: 20px;
}
#about_text_one {
    width: 40%;
    margin: 3%;
    font-size: 40px;
    color: white;
    text-align: center;
}

.landing_main_container {
    display: flex;
    justify-content: center;
}
.landing_main {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 80%;
}
.social_tabs {
    width: 100px;
    opacity: 70%;
}
.social_tabs:hover {
    opacity: 100%;
}
#landing_img {
    position: absolute;
    align-items: center;
    width: 100%;
    opacity: 80%;
    z-index: -1;
}
#landing_title {
    padding-top: 20px;
    color: rgb(180, 180, 180);
    font-family: 'Titan One';
    font-size: 45px;
    letter-spacing: 5px;
    text-align: center;
}
#landing_iframe {
    position: absolute;
    top: 100%;
}

.arrow
{
    position: absolute;
    bottom: -5px;
  width: 40px;
  height: 40px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI1MTIiIGlkPSJzdmcyIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSI1MTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6Y2M9Imh0dHA6Ly9jcmVhdGl2ZWNvbW1vbnMub3JnL25zIyIgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIiB4bWxuczppbmtzY2FwZT0iaHR0cDovL3d3dy5pbmtzY2FwZS5vcmcvbmFtZXNwYWNlcy9pbmtzY2FwZSIgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIiB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJjZWZvcmdlLm5ldC9EVEQvc29kaXBvZGktMC5kdGQiIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzIGlkPSJkZWZzNCIvPjxnIGlkPSJsYXllcjEiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAsLTU0MC4zNjIyKSI+PHBhdGggZD0ibSAxMjcuNDA2MjUsNjU3Ljc4MTI1IGMgLTQuOTg1MywwLjA3ODQgLTkuOTEwNzcsMi4xNjMwOCAtMTMuNDM3NSw1LjY4NzUgbCAtNTUsNTUgYyAtMy42MDA1NjUsMy41OTkyNyAtNS42OTY4ODMsOC42NTg5NSAtNS42OTY4ODMsMTMuNzUgMCw1LjA5MTA1IDIuMDk2MzE4LDEwLjE1MDczIDUuNjk2ODgzLDEzLjc1IEwgMjQyLjI1LDkyOS4yNSBjIDMuNTk5MjcsMy42MDA1NiA4LjY1ODk1LDUuNjk2ODggMTMuNzUsNS42OTY4OCA1LjA5MTA1LDAgMTAuMTUwNzMsLTIuMDk2MzIgMTMuNzUsLTUuNjk2ODggTCA0NTMuMDMxMjUsNzQ1Ljk2ODc1IGMgMy42MDA1NiwtMy41OTkyNyA1LjY5Njg4LC04LjY1ODk1IDUuNjk2ODgsLTEzLjc1IDAsLTUuMDkxMDUgLTIuMDk2MzIsLTEwLjE1MDczIC01LjY5Njg4LC0xMy43NSBsIC01NSwtNTUgYyAtMy41OTgxNSwtMy41OTEyNyAtOC42NTA2OCwtNS42ODEyNyAtMTMuNzM0MzgsLTUuNjgxMjcgLTUuMDgzNjksMCAtMTAuMTM2MjIsMi4wOSAtMTMuNzM0MzcsNS42ODEyNyBMIDI1Niw3NzguMDMxMjUgMTQxLjQzNzUsNjYzLjQ2ODc1IGMgLTMuNjY2NzgsLTMuNjY0MjMgLTguODQ4MDEsLTUuNzY0NDIgLTE0LjAzMTI1LC01LjY4NzUgeiIgaWQ9InBhdGgzNzY2LTEiIHN0eWxlPSJmb250LXNpemU6bWVkaXVtO2ZvbnQtc3R5bGU6bm9ybWFsO2ZvbnQtdmFyaWFudDpub3JtYWw7Zm9udC13ZWlnaHQ6bm9ybWFsO2ZvbnQtc3RyZXRjaDpub3JtYWw7dGV4dC1pbmRlbnQ6MDt0ZXh0LWFsaWduOnN0YXJ0O3RleHQtZGVjb3JhdGlvbjpub25lO2xpbmUtaGVpZ2h0Om5vcm1hbDtsZXR0ZXItc3BhY2luZzpub3JtYWw7d29yZC1zcGFjaW5nOm5vcm1hbDt0ZXh0LXRyYW5zZm9ybTpub25lO2RpcmVjdGlvbjpsdHI7YmxvY2stcHJvZ3Jlc3Npb246dGI7d3JpdGluZy1tb2RlOmxyLXRiO3RleHQtYW5jaG9yOnN0YXJ0O2Jhc2VsaW5lLXNoaWZ0OmJhc2VsaW5lO2NvbG9yOiMwMDAwMDA7ZmlsbDojMjIyMjIyO2ZpbGwtb3BhY2l0eToxO2ZpbGwtcnVsZTpub256ZXJvO3N0cm9rZTpub25lO3N0cm9rZS13aWR0aDozOC44ODAwMDEwNzttYXJrZXI6bm9uZTt2aXNpYmlsaXR5OnZpc2libGU7ZGlzcGxheTppbmxpbmU7b3ZlcmZsb3c6dmlzaWJsZTtlbmFibGUtYmFja2dyb3VuZDphY2N1bXVsYXRlO2ZvbnQtZmFtaWx5OlNhbnM7LWlua3NjYXBlLWZvbnQtc3BlY2lmaWNhdGlvbjpTYW5zIi8+PC9nPjwvc3ZnPg==);
  background-size: contain;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}





@media only screen and (min-width: 600px) {
    #landing_title {
        font-size: 80px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }
    #landing_img {
        top: -40%;
        position: relative;
    }
    .landing_body {
        height: 148vh;
        width: 100vw;
        overflow: hidden;
    }
    .landing_main {
        margin-top: 0;
        margin-bottom: -500px;
        gap: 13%;
        height: 0;
    }
    .social_tabs {
        position: absolute;
        margin-top: -80vh;
        margin-left: -3.5vw;
        width: 150px;
    }
}