* {
    margin: 0;
    padding: 0;
    border: 0;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
body {
    background-color: black;
}
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header > a {
    color: white;
    align-items: center;
    flex-direction: row;
}
#logo {
    font-size: 6vh;
    letter-spacing: 5px;
    text-shadow: 5px 5px black;
    font-family: 'Lemon', cursive;
}
.header_links {
    text-transform: uppercase;
    font-size: 3vh;
    font-family: 'Tenor Sans', sans-serif;
    background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
	transition: 0.5s background-size;
    text-shadow: 2px 2px 2px black;
}
.header_links:hover {
    background-size: 100% .1em;
}
main {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url(images/filmbackgroundphoto.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Lemon', cursive;
    z-index: 1;
}
main > h1 {
    position: relative;
    text-align: center;
    padding-top: 0vh;
    font-size: 6vh;
    height: 8vh;
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
    text-shadow: 5px 5px black;
    background-color: black;
}
#new_stuff {
    position: absolute;
    z-index: 0;
    width: 20vw;
    left: 10vw;
    bottom: 15vh;
}
#skeleton_garden {
    width: 20vw;
}
#skeleton_garden:hover {
    opacity: 70%;
}
h2 {
    text-align: center;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 3vh;
    color: white;
    text-decoration: none;
    
    /* text-shadow: 5px 5px black; */
}
#merch {
    position: absolute;
    width: 20vw;
    right: 10vw;
    bottom: 15vh;
}
#merch_image {
    width: 20vw;
}
#merch_image:hover {
    opacity: 70%;
}
footer {
    position: absolute;
    right: 5vw;
    bottom: 0px;
}
.social_images
{
    width: 5vw;
    
}
.social_images:hover {
    background-color: rgb(79, 36, 114);
}
#contact_info {
    position: absolute;
    left: 1vw;
    bottom: 1vw;
    text-shadow: 2px 2px black;
}